@import "tailwindcss";

.animate-wave:hover {
    display: inline-block;
    font-size: 3rem;
    animation: wave 2s infinite;
    transform-origin: 70% 70%;
    animation-duration: 1.5s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.badge {
    @apply hover:scale-110 w-15 h-20 border border-transparent rounded-full flex items-center justify-center;
}

.project {
    @apply overflow-hidden relative transition-all duration-500 transform hover:scale-105 p-4 border rounded-lg border-transparent;
}

.light {
    @apply bg-gradient-to-r from-white to-sky-300;
}

.dark {
    @apply bg-gradient-to-l from-sky-600 to-green-600;
}