@import "tailwindcss";


.waving-hand {
    display: inline-block;
    font-size: 2rem;
    animation: wave-animation 1.5s infinite;
    transform-origin: 70% 70%;
    animation-duration: 1.5s;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.badge {
    @apply w-20 h-25 border rounded-full shadow-[0px_0px_10px] shadow-sky-400 flex items-center justify-center;
}